src/com/wahyu/services/EmployeeServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax23="http://model.wahyu.com/xsd" xmlns:ns="http://services.wahyu.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://sql.java/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://services.wahyu.com">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sql.java/xsd">
            <xs:complexType name="SQLException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="SQLState" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="nextException" nillable="true" type="ax21:SQLException"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.wahyu.com/xsd">
            <xs:complexType name="Employee">
                <xs:sequence>
                    <xs:element minOccurs="0" name="age" type="xs:int"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://sql.java/xsd" xmlns:ax24="http://model.wahyu.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.wahyu.com">
            <xs:import namespace="http://sql.java/xsd"/>
            <xs:import namespace="http://model.wahyu.com/xsd"/>
            <xs:element name="EmployeeServicesSQLException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SQLException" nillable="true" type="ax22:SQLException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateEmployee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="employee" nillable="true" type="ax24:Employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="selectEmployee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="selectEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:Employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertEmployee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="employee" nillable="true" type="ax24:Employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEmployee">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax24:Employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEmployee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateEmployeeRequest">
        <wsdl:part name="parameters" element="ns:updateEmployee"/>
    </wsdl:message>
    <wsdl:message name="updateEmployeeResponse">
        <wsdl:part name="parameters" element="ns:updateEmployeeResponse"/>
    </wsdl:message>
    <wsdl:message name="EmployeeServicesSQLException">
        <wsdl:part name="parameters" element="ns:EmployeeServicesSQLException"/>
    </wsdl:message>
    <wsdl:message name="insertEmployeeRequest">
        <wsdl:part name="parameters" element="ns:insertEmployee"/>
    </wsdl:message>
    <wsdl:message name="getAllEmployeeRequest">
        <wsdl:part name="parameters" element="ns:getAllEmployee"/>
    </wsdl:message>
    <wsdl:message name="getAllEmployeeResponse">
        <wsdl:part name="parameters" element="ns:getAllEmployeeResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteEmployeeRequest">
        <wsdl:part name="parameters" element="ns:deleteEmployee"/>
    </wsdl:message>
    <wsdl:message name="deleteEmployeeResponse">
        <wsdl:part name="parameters" element="ns:deleteEmployeeResponse"/>
    </wsdl:message>
    <wsdl:message name="selectEmployeeRequest">
        <wsdl:part name="parameters" element="ns:selectEmployee"/>
    </wsdl:message>
    <wsdl:message name="selectEmployeeResponse">
        <wsdl:part name="parameters" element="ns:selectEmployeeResponse"/>
    </wsdl:message>
    <wsdl:portType name="EmployeeServicesPortType">
        <wsdl:operation name="updateEmployee">
            <wsdl:input message="ns:updateEmployeeRequest" wsaw:Action="urn:updateEmployee"/>
            <wsdl:output message="ns:updateEmployeeResponse" wsaw:Action="urn:updateEmployeeResponse"/>
            <wsdl:fault message="ns:EmployeeServicesSQLException" name="EmployeeServicesSQLException" wsaw:Action="urn:updateEmployeeEmployeeServicesSQLException"/>
        </wsdl:operation>
        <wsdl:operation name="insertEmployee">
            <wsdl:input message="ns:insertEmployeeRequest" wsaw:Action="urn:insertEmployee"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:insertEmployeeResponse"/>
            <wsdl:fault message="ns:EmployeeServicesSQLException" name="EmployeeServicesSQLException" wsaw:Action="urn:insertEmployeeEmployeeServicesSQLException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEmployee">
            <wsdl:input message="ns:getAllEmployeeRequest" wsaw:Action="urn:getAllEmployee"/>
            <wsdl:output message="ns:getAllEmployeeResponse" wsaw:Action="urn:getAllEmployeeResponse"/>
            <wsdl:fault message="ns:EmployeeServicesSQLException" name="EmployeeServicesSQLException" wsaw:Action="urn:getAllEmployeeEmployeeServicesSQLException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <wsdl:input message="ns:deleteEmployeeRequest" wsaw:Action="urn:deleteEmployee"/>
            <wsdl:output message="ns:deleteEmployeeResponse" wsaw:Action="urn:deleteEmployeeResponse"/>
            <wsdl:fault message="ns:EmployeeServicesSQLException" name="EmployeeServicesSQLException" wsaw:Action="urn:deleteEmployeeEmployeeServicesSQLException"/>
        </wsdl:operation>
        <wsdl:operation name="selectEmployee">
            <wsdl:input message="ns:selectEmployeeRequest" wsaw:Action="urn:selectEmployee"/>
            <wsdl:output message="ns:selectEmployeeResponse" wsaw:Action="urn:selectEmployeeResponse"/>
            <wsdl:fault message="ns:EmployeeServicesSQLException" name="EmployeeServicesSQLException" wsaw:Action="urn:selectEmployeeEmployeeServicesSQLException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeeServicesSoap11Binding" type="ns:EmployeeServicesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateEmployee">
            <soap:operation soapAction="urn:updateEmployee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException">
                <soap:fault use="literal" name="EmployeeServicesSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="insertEmployee">
            <soap:operation soapAction="urn:insertEmployee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException">
                <soap:fault use="literal" name="EmployeeServicesSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllEmployee">
            <soap:operation soapAction="urn:getAllEmployee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException">
                <soap:fault use="literal" name="EmployeeServicesSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <soap:operation soapAction="urn:deleteEmployee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException">
                <soap:fault use="literal" name="EmployeeServicesSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="selectEmployee">
            <soap:operation soapAction="urn:selectEmployee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException">
                <soap:fault use="literal" name="EmployeeServicesSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmployeeServicesSoap12Binding" type="ns:EmployeeServicesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateEmployee">
            <soap12:operation soapAction="urn:updateEmployee" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException">
                <soap12:fault use="literal" name="EmployeeServicesSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="insertEmployee">
            <soap12:operation soapAction="urn:insertEmployee" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException">
                <soap12:fault use="literal" name="EmployeeServicesSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllEmployee">
            <soap12:operation soapAction="urn:getAllEmployee" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException">
                <soap12:fault use="literal" name="EmployeeServicesSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <soap12:operation soapAction="urn:deleteEmployee" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException">
                <soap12:fault use="literal" name="EmployeeServicesSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="selectEmployee">
            <soap12:operation soapAction="urn:selectEmployee" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException">
                <soap12:fault use="literal" name="EmployeeServicesSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmployeeServicesHttpBinding" type="ns:EmployeeServicesPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="updateEmployee">
            <http:operation location="updateEmployee"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException"/>
        </wsdl:operation>
        <wsdl:operation name="insertEmployee">
            <http:operation location="insertEmployee"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEmployee">
            <http:operation location="getAllEmployee"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <http:operation location="deleteEmployee"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException"/>
        </wsdl:operation>
        <wsdl:operation name="selectEmployee">
            <http:operation location="selectEmployee"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeServicesSQLException"/>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmployeeServices">
        <wsdl:port name="EmployeeServicesHttpSoap11Endpoint" binding="ns:EmployeeServicesSoap11Binding">
            <soap:address location="http://localhost:8889/Java-Ws-Oracle/ws/javaoracle"/>
        </wsdl:port>
        <wsdl:port name="EmployeeServicesHttpSoap12Endpoint" binding="ns:EmployeeServicesSoap12Binding">
            <soap12:address location="http://localhost:8889/Java-Ws-Oracle/ws/javaoracle"/>
        </wsdl:port>
        <wsdl:port name="EmployeeServicesHttpEndpoint" binding="ns:EmployeeServicesHttpBinding">
            <http:address location="http://localhost:8889/Java-Ws-Oracle/ws/javaoracle"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
