src/com/wahyu/wsdl/services.wsdl

<!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.wahyu.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.wahyu.com/" name="EmployeeServicesService">
    <import namespace="http://interfaces.wahyu.com/" location="http://localhost:8889/Java-Ws-Oracle/ws/javaoracle?wsdl=1"/>
    <binding xmlns:ns1="http://interfaces.wahyu.com/" name="EmployeeServicesPortBinding" type="ns1:IEmployee">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="getAllEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </output>
        </operation>
        <operation name="deleteEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </output>
        </operation>
        <operation name="updateDepartment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </output>
        </operation>
        <operation name="updateEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </output>
        </operation>
        <operation name="insertDepartment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </output>
        </operation>
        <operation name="selectEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </output>
        </operation>
        <operation name="selectDepartment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </output>
        </operation>
        <operation name="insertEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </output>
        </operation>
        <operation name="getAllDepartment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </output>
        </operation>
        <operation name="deleteDepartment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://interfaces.wahyu.com/"/>
            </output>
        </operation>
    </binding>
    <service name="EmployeeServicesService">
        <port name="EmployeeServicesPort" binding="tns:EmployeeServicesPortBinding">
            <soap:address location="http://localhost:8889/Java-Ws-Oracle/ws/javaoracle"/>
        </port>
    </service>
</definitions>